<!doctype html>
<html class="no-js">
<!-- Mirrored from binatrust.online/info/about by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Apr 2021 11:45:52 GMT -->
<!-- Added by HTTrack -->
<!-- Mirrored from binatrust.online/info/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 Sep 2021 19:18:41 GMT -->

<!-- Mirrored from binatrust.online/info/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Mar 2022 12:40:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/favicon.png" rel="icon" type="image/x-icon" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="/assets/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.html">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    
    <div id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="/assets/translate.google.com/translate_a/elementa0d8a0d8.html?cb=googleTranslateElementInit"></script>
    </div>
    <title>binatrust || Sparkup Your Coin</title>
    <link rel="manifest" href="/assets/js/manifest.json">
    <meta name="theme-color" content="#FD961A">
    <meta name="msapplication-navbutton-color" content="#FD961A">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FD961A">
    <meta name="theme-color" content="#FD961A">
    <meta name="msapplication-navbutton-color" content="#FD961A">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FD961A">
    <link href="/assets/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="icon" sizes="192x192" href="/assets/images/icon/icon-192.html">
    <meta name="keywords" content="binatrust, Bitcoin Investment, Bitcoin Trading Company" />
    <meta property="og:image" content="/assets/images/icon/icon-310x310.png" />
    <meta name="msapplication-square310x310logo" content="/assets/images/icon/icon-310x310.png">
    <meta name="msapplication-square70x70logo" content="/assets/images/icon/icon-70x70.png">
    <meta name="msapplication-square150x150logo" content="/assets/images/icon/icon-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/assets/images/icon/icon-310x150.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icon/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/icon/apple-touch-icon-57x57.html" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icon/apple-touch-icon-72x72.html" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icon/apple-touch-icon-144x144.png" />
    <meta property="og:site_name" content="binatrust  || Sparkup Your Coin">
    <meta property="og:title" content="Sparkup Your Coin" />
    <meta name="description" content="binatrust  is totally different from its competitors trying to achieve something special starting with the...">
    <meta property="og:description" content="binatrust  is totally different from its competitors trying to achieve something special starting with the...">
    <meta property="og:type" content="website" />
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <script>
    $(document).ready(function() {
        function close_accordion_section() {
            $('.accordion .accordion-section-title').removeClass('active');
            $('.accordion .accordion-section-content').slideUp(300).removeClass('open');
        }

        $('.accordion-section-title').click(function(e) {
            // Grab current anchor value
            var currentAttrValue = $(this).attr('href');

            if ($(e.target).is('.active')) {
                close_accordion_section();
            } else {
                close_accordion_section();

                // Add active class to section title
                $(this).addClass('active');
                // Open up the hidden content panel
                $('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
            }

            e.preventDefault();
        });
    });
    </script>
    <script>
    var fade_outthis = function() {
        $(".alert").fadeOut().empty();
    }
    setTimeout(fade_outthis, 8000);

    $(document).ready(function() {
        $(".closebtn").click(function() {
            $(this).parent().fadeOut().empty();
        });
    });
    </script>
</head>
