<footer class="footer bg-dark text-light">
        <div class="container-fluid">
            <div class="row copyright text-center text-align-center">
                <p>All Rights Reserved &copy; binatrust <%= new Date().getFullYear() %> </p>
            </div>
        </div>
    </footer>