<!DOCTYPE html>
<html lang="en">
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSRF Token -->
      <meta name="csrf-token" content="uVfTiF4siYbSic8FKD2VYmWG6NbepdVao1ZCDC8A">
      <title>binatrust | User panel</title>
      <link rel="icon" href="/assets/cloud/app/images/ahwg.html" type="image/png"/>
      <!-- Fonts and icons -->
      <script src="/assets/dash/js/plugin/webfont/webfont.min.js"></script>
      <!-- Sweet Alert -->
      <script src="/assets/dash/js/plugin/sweetalert/sweetalert.min.js"></script>
      <!-- CSS Files -->
      <link rel="stylesheet" href="/assets/dash/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/dash/css/fonts.min.css">
      <link rel="stylesheet" href="/assets/dash/css/atlantis.min.css">
      <link rel="stylesheet" href="/assets/dash/css/customs.css">
      <link rel="stylesheet" href="/assets/dash/css/style.css">
      <link rel="stylesheet" type="text/css" href="/cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/r-2.2.5/datatables.min.css"/>
      <script src="/ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
   </head>
