               <!-- Navbar Header -->
               <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
                <div class="container-fluid">
                   <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                      <li class="nav-item dropdown hidden-caret">
                         <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="fa fa-bell"></i>
                         </a>
                         <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                            <li>
                               <a class="see-all" href="/user/dashboard/notification">See all notifications<i class="fa fa-angle-right"></i> </a>
                            </li>
                         </ul>
                      </li>
                      <li class="nav-item dropdown hidden-caret">
                         <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                         <i class="fas fa-user"></i>
                         </a>
                         <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <div class="dropdown-user-scroll scrollbar-outer">
                               <li>
                                  <a class="dropdown-item" href="/user/dashboard/changepassword">Change Password</a>
                                  <a class="dropdown-item" href="/user/dashboard/profile">Update Account</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="/user/logout">Logout</a>
                                  <!-- <a class="dropdown-item" href="/user/logout"
                                     onclick="event.preventDefault();
                                     document.getElementById('logout-form').submit();">
                                  Logout
                                  </a>
                                  <form id="logout-form" action="/user/logout" method="POST" style="display: none;">
                                     <input type="hidden" name="_token" value="uVfTiF4siYbSic8FKD2VYmWG6NbepdVao1ZCDC8A">
                                  </form> -->
                               </li>
                            </div>
                         </ul>
                      </li>
                   </ul>
                </div>
             </nav>
             <!-- End Navbar -->