<%- include('../partials/formhead') %>
<body class="d-flex flex-column h-100 auth-page">
    <!-- ======= Loginup Section ======= -->
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center user-auth">
                <div class="col-12 col-md-6 col-lg-6 col-sm-10 col-xl-6 ">
                    <div class="text-center">
                    </div>
                    <div class="card ">
                        <h1 class="text-center mt-3">Password Reset</h1>
                        <form method="POST" action="https://coinstarmining.online/password/password/email" class="mt-5 card__form" id="resetform">
                            <input type="hidden" name="resetpass" value="uDF2YsHBvUoett4eWe09VXWCmgBJzgIaIUHX7MkC">
                            <div class="form-group ">
                                <label for="email">Email address</label>
                                <small>The email address used in registration</small> <br>
                                <input type="email" class="form-control " name="email" value="" id="email" placeholder="name@example.com" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary mt-4" type="submit">Send Reset Link</button>
                            </div>
                            <div class="text-center mb-3">
                                <small class=" text-center mb-2"> <a href="/user/login">Repeat Login.</a> </small>
                            </div>
                            <div class="text-center">
                                <hr>
                                <small class=" text-center">&copy; Copyright 2021 &nbsp; coinstarmining <br> All Rights Reserved.</small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
         $("#resetform").submit(function() {
        event.preventDefault();
        var email = $('#email').val();
        var data = $("#resetform").serialize();
        $.ajax({
            url: "../Account/php/action.php",
            type: 'POST',
            data: data,
            beforeSend: function() {
                $('.resp').html(`<i class="fa fa-spinner fa-spin"></i>`)
            },
            success: function(response) {
                if (response == "done") {
                    $('.resp').html(response);
                } else {
                    $('.resp').html(response);
                }

            }

        })

    })
    </script>
</body>


<!-- Mirrored from coinstarmining.online/password/reset.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Mar 2022 12:40:58 GMT -->
</html>